@page "{id:int}"
@model RazorPagesBlehNmah.Pages.Paintings.DetailsModel

@{
    ViewData["Title"] = Model.Painting.Title;
}

@{
    int i = Convert.ToInt32(ViewContext.RouteData.Values["id"]);
}

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img src="@Html.DisplayFor(model => model.Painting.MediaLocation)" class="card-img-top" alt="@Html.DisplayFor(model => model.Painting.Title)">
        </div>
    </div>
    <div>
        <dl class="row">
            <dt class="category col-sm-4">
                @Html.DisplayNameFor(model => model.Painting.Title)
            </dt>
            <dd class="display col-sm-8">
                @Html.DisplayFor(model => model.Painting.Title)
            </dd>
            <dt class="category col-sm-4">
                @Html.DisplayNameFor(model => model.Painting.Description)
            </dt>
            <dd class="display col-sm-8">
                @Html.DisplayFor(model => model.Painting.Description)
            </dd>
            <dt class="category col-sm-4">
                @Html.DisplayNameFor(model => model.Painting.Year)
            </dt>
            <dd class="display col-sm-8">
                @Html.DisplayFor(model => model.Painting.Year)
            </dd>
            <dt class="category col-sm-4">
                @Html.DisplayNameFor(model => model.Painting.Medium)
            </dt>
            <dd class="display col-sm-8">
                @Html.DisplayFor(model => model.Painting.Medium)
            </dd>
            <dt class="category col-sm-4">
                @Html.DisplayNameFor(model => model.Painting.Location)
            </dt>
            <dd class="display col-sm-8">
                @Html.DisplayFor(model => model.Painting.Location)
            </dd>
            <dt class="category col-sm-4">
                @Html.DisplayNameFor(model => model.Painting.Collection)
            </dt>
            <dd class="display col-sm-8">
                @Html.DisplayFor(model => model.Painting.CollectionID)
            </dd>
        </dl>
    </div>
    <div>
        <a role="button" class="btn btn-light" asp-page="./Index">Back to List</a>
        @if (i > 1)
        {
            <a role="button" class="btn btn-light" asp-page="./Details" asp-route-id="@(i-1)">Prev</a>
        }
        @if (i != 53)
        {
            <a role="button" class="btn btn-light" asp-page="./Details" asp-route-id="@(i+1)">Next</a>
        }
        <a role="button" class="btn btn-light" asp-page="../Collections" asp-route-id="@Model.Painting?.CollectionID">Collection</a>
    </div>
</div>