@page "{id:int}"
@model RazorPagesBlehNmah.Pages.Paintings.DetailsModel

@{
    ViewData["Title"] = Model.Painting.Title;
}

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img src="@Html.DisplayFor(model => model.Painting.MediaLocation)" class="card-img-top" alt="@Html.DisplayFor(model => model.Painting.Title)">
        </div>
    </div>
    <div>
        <dl class="row">
            <dt class="category col-sm-4">
                @Html.DisplayNameFor(model => model.Painting.Title)
            </dt>
            <dd class="display col-sm-8">
                @Html.DisplayFor(model => model.Painting.Title)
            </dd>
            <dt class="category col-sm-4">
                @Html.DisplayNameFor(model => model.Painting.Description)
            </dt>
            <dd class="display col-sm-8">
                @Html.DisplayFor(model => model.Painting.Description)
            </dd>
            <dt class="category col-sm-4">
                @Html.DisplayNameFor(model => model.Painting.Year)
            </dt>
            <dd class="display col-sm-8">
                @Html.DisplayFor(model => model.Painting.Year)
            </dd>
            <dt class="category col-sm-4">
                @Html.DisplayNameFor(model => model.Painting.Medium)
            </dt>
            <dd class="display col-sm-8">
                @Html.DisplayFor(model => model.Painting.Medium)
            </dd>
            <dt class="category col-sm-4">
                @Html.DisplayNameFor(model => model.Painting.Location)
            </dt>
            <dd class="display col-sm-8">
                @Html.DisplayFor(model => model.Painting.Location)
            </dd>
            <dt class="category col-sm-4">
                @Html.DisplayNameFor(model => model.Painting.Collection)
            </dt>
            <dd class="display col-sm-8">
                @Html.DisplayFor(model => model.Painting.CollectionID)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="../Collections/Details/" asp-route-id="@Model.Painting?.CollectionID">More From Collection</a>
    </div>
</div>