@page
@model RazorPagesBlehNmah.Pages.Paintings.IndexModel

@{
    ViewData["Title"] = "Paintings";
}

<h1>Paintings</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model.Painting)
    {
        <div class="mt-4 col">
            <a asp-page="./Details" asp-route-id="@item.Id">
                <div style="position: relative; text-align: center;" class="card">
                    <img src="@Html.DisplayFor(modelItem => item.MediaLocation)" style="border-radius: .5rem; width: 100%; height: 25rem; object-fit: cover;" class="card-img img-fluid" alt="@Html.DisplayFor(modelItem => item.Title)">
                    <div class="bg-dark p-2 bg-opacity-25 card-img-overlay"></div>
                </div>
            </a>
        </div>
        <div class="modal fade @item.Title" id="exampleModal" tabindex="-1" aria-labelledby="@item.Title" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <img src="@Html.DisplayFor(modelItem => item.MediaLocation)" class="card-img-top" alt="@Html.DisplayFor(modelItem => item.Title)">
                    <div class="modal-header">
                        <div style="text-align: center; color: white; margin: 1rem;" class="row row-cols-3">
                            <div style="color: black;" class="col-6">
                                <h1 class="modal-title fs-5" id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</h1>
                            </div>
                            <div class="col-3">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-primary"><a style="text-decoration: none; color: white;" asp-page="./Details" asp-route-id="@item.Id">Details</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        @if (item.Description.Length > 0)
                        {
                            <p class="card-text">
                                Description: @Html.DisplayFor(modelItem => item.Description) HELLO
                            </p>
                        }
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Medium: @Html.DisplayFor(modelItem => item.Medium)</li>
                        <li class="list-group-item">Collection: @Html.DisplayFor(modelItem => item.Collection.CollectionName)</li>
                    </ul>
                    <div class="card-footer">
                        <small class="text-muted">
                            Location: @Html.DisplayFor(modelItem => item.Location) | Year: @Html.DisplayFor(modelItem => item.Year)
                        </small>
                    </div>

                </div>
            </div>
        </div>
    }
</div>
