@page
@model RazorPagesBlehNmah.Pages.Paintings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Painting[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Painting[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Painting[0].Medium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Painting[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Painting[0].MediaLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Painting[0].Collection)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Painting) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Collection.CollectionID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
