@page
@model RazorPagesBlehNmah.Pages.Paintings.IndexModel

@{
    ViewData["Title"] = "Paintings";
}

<h1>Paintings</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model.Painting) {
        <div class="col">
            <div class="card">
                <img src="@Html.DisplayFor(modelItem => item.MediaLocation)" class="card-img-top" alt="@Html.DisplayFor(modelItem => item.Title)">
                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.Title)
                    </h5>
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => item.Description)
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.Medium)</li>
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.Collection.CollectionName)</li>
                </ul>
                <div class="card-body">
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        @Html.DisplayFor(modelItem => item.Location), @Html.DisplayFor(modelItem => item.Year)
                    </small>
                </div>
            </div>
        </div>
}
</div>
