@page
@model RazorPagesBlehNmah.Pages.Photographs.IndexModel

@{
    ViewData["Title"] = "Photographs";
}

<h1>Photographs</h1>


<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model.Photograph)
    {
        <div class="mt-4 col">
            <a role="button" data-bs-toggle="modal" data-bs-target="#modal-@(item.Id)">
                <div style="position: relative; text-align: center;" class="card">
                    <img src="@Html.DisplayFor(modelItem => item.MediaLocation)" style="border-radius: .5rem; width: 100%; height: 25rem; object-fit: cover;" class="card-img img-fluid" alt="@Html.DisplayFor(modelItem => item.Title)">
                </div>
            </a>
        </div>
        <div style="" class="modal fade @item.Title" id="modal-@(item.Id)" tabindex="-1" aria-labelledby="@item.Title" aria-hidden="true">
            <div style="text-align: center;" class="modal-dialog modal-lg">
                <div class="card">
                    <img style="width: auto; height: auto;" src="@Html.DisplayFor(modelItem => item.MediaLocation)" class="card-img-top" alt="@Html.DisplayFor(modelItem => item.Title)">
                    <div style="" class="card-img-overlay">
                        <h1 style="color: white; font-size: 200%;" class="fs-5" id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</h1>
                        <a role="button" class="btn btn-light" style="text-decoration: none;" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
