@page
@model RazorPagesBlehNmah.Pages.Collections.IndexModel

@{
    ViewData["Title"] = "Collections";
}

<h1>Collections</h1>

<div>
    @foreach (var item in Model.Collection)
        {
        <div class="card mb-3">
            <img src="@Html.DisplayFor(modelItem => item.CoverImage)" class="collection-img-top card-img-top" alt="@Html.DisplayFor(modelItem => item.CollectionName)">
            <div class="card-body">
                <h5 class="card-title">
                    @Html.DisplayFor(modelItem => item.CollectionName)
                </h5>
                <p class="card-text">
                    @Html.DisplayFor(modelItem => item.Description)
                </p>
                <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => item.Year)</small></p>
                <div>
                    <a asp-page="./Details" asp-route-id="@item.CollectionID">Details</a>
                </div>
            </div>
        </div>
        }
</div>
